
@{
    ViewBag.Title = "Menu";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
<link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
<link rel="stylesheet" href="estilos.css">


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>


<h2>Bienvenido</h2>
<p class="bienvenigaGris">Sistema de Tickets Lester</p>

<div class="mt-2 bienvenidaCuadro">

    <div class="row ">
   
    <div class="col-md-3 ">
        <div class="card" style="background-color: #F3FFD3"> 
            <div class="card-body " style=" font-size: 22px; padding: 15px 30px; ">
                <i class="fa-regular fa-file fa-4x" style="color: #81A354;"></i>
                <spam>0</spam>
                Abiertos
            </div>
        </div>
    </div>
    <div class="col-md-3 ">
        <div class="card" style="background-color: #F3FFD3">
            <div class="card-body">
                <i class="fa-regular fa-clock fa-4x" style="color: #DF8013;"></i>
                <spam>0</spam>
                En proceso
            </div>
        </div>
    </div>
    <div class="col-md-3 ">
        <div class="card" style="background-color: #F3FFD3">
            <div class="card-body ">
                <i class="fa-regular fa-clock fa-4x" style="color: #922DB4;"></i>
                <spam>0</spam>
                En espera
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="card" style="background-color: #F3FFD3">
            <div class="card-body">
                <i class="fa-regular fa-circle-check fa-4x" style="color: #81A354;"></i>
                <spam>0</spam>
                Cerrados
            </div>
        </div>
    </div>
</div>
</div>

<script>

    var usuarioLogueado = "@(Session["UsuarioLogin"] ?? "")";

    console.log("Intentando leer sesión del servidor... Usuario encontrado: " + usuarioLogueado);

    if (usuarioLogueado !== "") {
        sessionStorage.setItem("usuario", usuarioLogueado);
        console.log("¡Éxito! Se guardó en el sessionStorage de Chrome.");
    } else {
        console.warn("No se pudo guardar: Session['UsuarioLogin'] llegó vacío desde el servidor.");
    }
</script>

<!--
<!-- Button trigger modal 
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
    Launch demo modal
</button>

<!-- Modal 
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                ...
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>

-->