
@{
    ViewBag.Title = "Menu";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
<link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
<link rel="stylesheet" href="estilos.css">


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>


<h2>Bienvenido</h2>
<p class="bienvenigaGris">Sistema de Tickets Lester</p>

<div class="mt-2 bienvenidaCuadro">

    <div class="row ">

        <div class="col-3">

            <div class="d-flex align-items-center p-3 rounded" style="background-color: #F3FFD3; border: 1px solid #dceec6; width: 250px;">
                <div class="me-3">
                    <i class="fa-regular fa-file-lines fa-4x" style="color: #7da854;"></i>
                </div>

                <div class="d-flex flex-column align-items-start">
                    <span class="fw-bold fs-3 lh-1 mb-1" style="color: #1a1a1a;">0</span>
                    <span class="fw-semibold text-secondary" style="font-size: 0.9rem;">Abiertos</span>
                </div>
            </div>

        </div>

        <div class="col-3">
            <div class="d-flex align-items-center p-3 rounded" style="background-color: #F3FFD3; border: 1px solid #dceec6; width: 250px;">
                <div class="card-body">
                    <i class="fa-regular fa-clock fa-4x" style="color: #DF8013;"></i>

                </div>

                <div class="d-flex flex-column align-items-start">
                    <span class="fw-bold fs-3 lh-1 mb-1" style="color: #1a1a1a;">0</span>
                    <span class="fw-semibold text-secondary" style="font-size: 0.9rem;">En proceso</span>
                </div>
            </div>  
        </div>
        <div class="col-3">
            <div class="d-flex align-items-center p-3 rounded" style="background-color: #F3FFD3; border: 1px solid #dceec6; width: 250px;">
                <div class="card-body ">
                    <i class="fa-regular fa-clock fa-4x" style="color: #922DB4;"></i>

                </div>
                <div class="d-flex flex-column align-items-start">
                    <span class="fw-bold fs-3 lh-1 mb-1" style="color: #1a1a1a;">0</span>
                    <span class="fw-semibold text-secondary" style="font-size: 0.9rem;">En espera</span>
                </div>
            </div>
        </div>
        <div class="col-3">
            <div class="d-flex align-items-center p-3 rounded" style="background-color: #F3FFD3; border: 1px solid #dceec6; width: 250px;">
                <div class="card-body">
                    <i class="fa-regular fa-circle-check fa-4x" style="color: #81A354;"></i>

                </div>
                <div class="d-flex flex-column align-items-start">
                    <span class="fw-bold fs-3 lh-1 mb-1" style="color: #1a1a1a;">0</span>
                    <span class="fw-semibold text-secondary" style="font-size: 0.9rem;">Cerrados</span>
                </div>
            </div>
        </div>
    </div>
</div>

<script>

    var usuarioLogueado = "@(Session["UsuarioLogin"] ?? "")";

    console.log("Intentando leer sesión del servidor... Usuario encontrado: " + usuarioLogueado);

    if (usuarioLogueado !== "") {
        sessionStorage.setItem("usuario", usuarioLogueado);
        console.log("¡Éxito! Se guardó en el sessionStorage de Chrome.");
    } else {
        console.warn("No se pudo guardar: Session['UsuarioLogin'] llegó vacío desde el servidor.");
    }
</script>

<!--
<!-- Button trigger modal 
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
    Launch demo modal
</button>

<!-- Modal 
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                ...
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>

-->